extends layouts/sample

block content
	form.login
		label
			span.user.fa.fa-user
			input(type="text" placeholder="Username")
		label
			span.pass.fa.fa-lock
			input(type="Password" placeholder="Password")
		button Log in
